* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-align: center;
  font-family: "Itim", cursive;
  color: #444444;
}

a {
  color: #1977cc;
  text-decoration: none;
}

a:hover {
  color: #3291e6;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}
.active1 {
  color: #1977cc;
  text-decoration: underline;
}
/* .active1::after{
  text-decoration: none;
} */
#header {
  background: #fff;
  z-index: 997;
  padding: 15px 0;
  top: 0px;
  box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}
/* ***********************************Naviagtion Menu ************************************/
/**
* Desktop Navigation 
*/
.navbar {
  padding: 0;
}
#appointment {
  border-radius: 20px;
  background-color: #1977cc;
  padding: 6px 8px;
  margin-left: 20%;
  color: #fff;
}
#appointment:hover {
  background-color: #11528b;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
li {
  display: inline;
  margin-left: 20px;
  margin-right: 40px;
}
.navbar li {
  position: relative;
  display: inline-block;
}

.navbar > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 8px 0 8px 20px;
}

.navbar a {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 14px;
  color: #2c4964;
  white-space: nowrap;
  transition: 0.3s;
  border-bottom: 2px solid #fff;
  padding: 5px 2px;
}

.navbar a i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}

.navbar a:hover,
.navbar .active,
.navbar li:hover > a {
  color: #1977cc;
  border-color: #1977cc;
}

.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 20px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.navbar .dropdown ul li {
  min-width: 200px;
}

.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #082744;
  border: none;
}

.navbar .dropdown ul a i {
  font-size: 12px;
}

.navbar .dropdown ul a:hover,
.navbar .dropdown ul .active:hover,
.navbar .dropdown ul li:hover > a {
  color: #1977cc;
}

.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}

.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
.dropbtn {
  background-color: white;
  color: #3291e6;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdowncontent {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdowncontent a {
  color: #3291e6;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdowncontent a:hover {
  background-color: #1977cc;
  color: white;
}

.dropdown:hover .dropdowncontent {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}

@media (max-width: 1266px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
  #appointment {
    margin-left: 10%;
  }
}
@media (max-width: 1098px) {
  #appointment {
    margin-left: 0;
  }
}
@media (max-width: 880px) {
  /* #appointment{
    margin-left: 0;
  } */
}
/**
* Mobile Navigation 
*/


/******************************** Testimonal *****************************************/
#testimonials{
  padding: 60px 50px;
  background-color: rgb(224, 238, 253);
}
.container{
    text-align:center;   
    margin:auto;
    display:flex;
    justify-content:space-evenly;

}
.color-box{
    background-color:#3edbf0; 
    height:90px;
}
.image{
   position:absolute;
   top:20px;
   left:150px;
   height:120px;
   border-radius:50%;
   border:2px solid white;

}
.text h2{
color:blue;
margin:65px auto 2px;

}

.text h3{
    color:cornflowerblue;
    margin:0 auto 10px;
}
.flex-box{
    /* border:2px solid black; */
    margin:30px 30px;
    flex:auto;
    flex-basis: auto;
    background-color:white;
    box-shadow: 5px 5px 8px grey;
    position:relative;
}
.text p{
    margin:0 auto 30px  ;
}