.container{
    text-align:center;   
    margin:auto;
    display:flex;
    justify-content:space-evenly;

}
body{
    text-align:center;
    font-family: 'Itim', cursive;
}

.color-box{
    background-color:#3edbf0; 
    height:90px;
}
.image{
   position:absolute;
   top:20px;
   left:150px;
   height:120px;
   border-radius:50%;
   border:2px solid white;

}
.text h2{
color:blue;
margin:65px auto 2px;

}

.text h3{
    color:cornflowerblue;
    margin:0 auto 10px;
}
.flex-box{
    /* border:2px solid black; */
    margin:30px 30px;
    flex:auto;
    flex-basis: auto;
    background-color:white;
    box-shadow: 5px 5px 8px grey;
    position:relative;
}
.text p{
    margin:0 auto 30px  ;
}